<footer id="footer" class="footer--bio">
  <div id="footer-nav">
    <img id="footer-line" src="../bilder/galerie/linie-s2.gif">
    <ul id="footer-left">
      {% include galerie/galerie_footer_nav_back.html %}
    </ul>
    <ul id="footer-right">
      <li><a href="oel_landschaften.html">Galerie</a></li>
    </ul>
  </div>
  {% include galerie/footer_copyright.html %}
</footer>


<script>
$('#footer #kat-{{ page.katname }}').addClass('active');
$('#navi li[data-menu-item="{{ page.menuitem }}"]').addClass('active');
</script>