<!-- for non-sticky nav: navbar-static-top (remove body padding-top in style.css) -->
<nav class="navbar navbar-inverse navbar-fixed-top visible-xs">
  <div class="container">
  {% include galerie/navbar-header.html %}
  <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
    <li id="item1"><a href="../index.html">Startseite</a></li>
    <li id="item2"><a href="bio.html">Über mich</a></li>
    <li id="item3"><a href="oel_landschaften.html">Galerie</a></li>
    <li id="item4"><a href="craft_3d_bilder_tiere.html">Craft Projects</a></li>
    </ul>
  </div>
  </div>
</nav>