<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  
  <a href="../index.html">
  <div id="navlogo">
      <span>
        <img src="../bilder/galerie/km_logo_kl.png">
      </span>
      <span>
        <img class="navlogo--title" src="../bilder/galerie/masterpainting-kl.png" alt="galerie" width="120">
        <span id="createdby">created by B. Krischok</span>
      </span> 
  </div>
  </a>


</div>
