<!doctype html>
<html>
<head>
	{% include galerie/header.html %}
</head>
<body>

	{% include galerie/galerie_navbar.html %}

	<div class="container" id="main">

		{% include galerie/craftprojects_header.html %}
		{% include galerie/galerie_nav_devider.html %}

		<div id="navi">
			<ul>
				<li id="a1" data-menu-item="eier"><a href="../galerie/craft_ostereier.html">Ostereier</a></li>
				<li id="a2" data-menu-item="kraenze"><a href="../galerie/craft_osterkraenze.html">Osterkränze</a></li>
				<li id="a3" data-menu-item="toepfe"><a href="../galerie/craft_tontoepfchen.html">Tontöpfchen</a></li>
			</ul>
		</div>

		{% include galerie/craft_nav_back.html %}
    	{% include galerie/galerie_content.html %}
		{% include galerie/craft_footer.html %}
		{% include galerie/galerie_magnific_popup.html %}

	</div>
	
	<!-- hier weniger slider pages -->
	<script type="text/javascript">
		$(document).ready(function() {
			$('.slideshow').slick({
				dots : true,
				infinite : false,
				slidesToShow : 3,
				slidesToScroll : 3,
				autoplay : false,
				autoplaySpeed : 2000,
				variableWidth : true
			});
		});
	</script>
	{% include slick_js.html %}
</body>
</html>
