<!doctype html>
<html>
<head>
	{% include galerie/header.html %}
</head>
<body>

	{% include galerie/galerie_navbar.html %}

	<div class="container" id="main">

		{% include galerie/craftprojects_header.html %}
		{% include galerie/galerie_nav_devider.html %}

		<div id="navi">
			<ul>
				<li id="a1" data-menu-item="cafe"><a href="../galerie/craft_cafeemotion.html">Café Emotion</a></li>
				<li id="a2" data-menu-item="foodart"><a href="../galerie/craft_foodart.html">Food Art</a></li>
				<li id="a3" data-menu-item="maritim"><a href="../galerie/craft_maritim.html">Maritim</a></li>
				<li id="a4" data-menu-item="deco"><a href="../galerie/craft_deco.html">Deco</a></li>
			</ul>
		</div>

		{% include galerie/craft_nav_back.html %}
    	{% include galerie/galerie_content.html %}
		{% include galerie/craft_footer.html %}
		{% include galerie/galerie_magnific_popup.html %}

	</div>

	{% include slick_js.html %}

</body>
</html>
