<!doctype html>
<html>
<head>
	{% include galerie/header.html %}
</head>
<body>

	{% include galerie/galerie_navbar.html %}

	<div class="container" id="main">

		{% include galerie/galerie_header.html %}
		{% include galerie/galerie_nav_devider.html %}

		<div id="navi">
			<ul>
				<li id="a1" data-menu-item="landschaften"><a href="../galerie/aquarell_landschaften.html">Landschaften</a></li>
				<li id="a2" data-menu-item="stillleben"><a href="../galerie/aquarell_stillleben.html">Stillleben</a></li>
				<li id="a3" data-menu-item="portraits"><a href="../galerie/aquarell_portraits.html">Portraits</a></li>
				<li id="a4" data-menu-item="natur"><a href="../galerie/aquarell_natur.html">Natur</a></li>
			</ul>
		</div>

		{% include galerie/galerie_content.html %}
		{% include galerie/galerie_footer.html %}
		{% include galerie/galerie_magnific_popup.html %}

	</div>

	{% include slick_js.html %}

</body>
</html>
